{:cljs-version "1.9.225"
 :dependencies [[org.clojure/core.async "0.2.385"]
                [rum "0.10.5"]]

 :builds {:dev {:src "src"
                :compiler {:main t3tr0s-slides.core
                           :output-to "public/t3tr0s_slides.js"
                           :output-dir "public/out-dev"
                           :asset-path "out-dev"
                           :source-map true
                           :optimizations :none}}
          :min {:src "src"
                :compiler {:main t3tr0s-slides.core
                           :output-to "public/t3tr0s_slides.min.js"
                           :output-dir "out-min"
                           :optimizations :advanced}}}}
