body {
  padding-top: 75px;
  background: url("black-Linen2.png");
}

pre {
  margin: 0;
}

#app {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.canvas-2a4d7 {
  height: 600px;
  padding: 20px;
  float: left;
  display: inline;
  background: #222;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-user-select: none;
}

.code-cb62a {
  width: 600px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  float: left;
  display: inline;
  cursor: default;
  overflow: scroll;

  background-color: #333;
  color: #AAA;
  font-size: 18px;
}

.active-row-534ed {
  background-color: #222;
}

.active-col-d9099 {
  background-color: #AAA;
  color: #000;
}

.clickable-ae1bb {
  background-color: #AAA;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
}
